* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                                    /* fonts */
@font-face {
    font-family: "Courgette";
    src: url("/fonts/Courgette-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Architects Daughter";
    src: url("/fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Courgette", Georgia, serif;
    font-weight: 400;
    font-size: 2.5em;
}

body {
    font-family: "Architects Daughter", Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1em;
}
                                    /* background images */
body.home {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body.macaron {
    background-image: url(../img/macaron.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body.passion {
    background-image: url(../img/passion.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body.baking {
    background-image: url(../img/baking.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body.history {
    background-image: url(../img/history.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body.author {
    background-image: url(../img/author.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body.sources {
    background-image: url(../img/sources.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
                                    /* header */
header {
    display: flex;
    width: 100%;
    height: 48vw;
    flex-direction: column-reverse;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
    font-size: 4.5vw;
    margin: 0 auto;
    margin-bottom: 9vw;
    padding: 2vw;
    background: #f3f3f3;
    border-radius: 50%;
    max-width: 32vw;
    text-align: center;

    transition: all .7s linear;
}

h1:hover {
    background: transparent;
    color: white;
}
                            /* navbar */
header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: .5vw;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    border: .1em solid #777777;
    padding: 1vw;
    text-align: center;
    background: #eaddca;
    width: 18vw;
    
    background: linear-gradient(to left, #fdfd9a 50%, #ff89d246 50%) right;
    background-size: 200%;
    transition: all .3s ease-out;
}

header nav ul li a:link {
    color: #000000;
}

header nav ul li a:visited {
    color: #000000;
}

header nav ul li a:hover {
    background-position: left;
    color: #fff;
}

header nav ul li a:active {
    color: red;
}

header nav ul li {
    display: flex;
}

@media (max-width: 1000px) {
    header nav ul li a {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px) {
    header nav ul li a {
        font-size: 1.6em;
    }
}

body section {
    background: #fce6c4;
    border: .2em solid #777777;
    padding: .5em;
    margin: 1em;
}
                                        /* main */
body main section p {
    margin: .5em 0;
    font-size: 1.3em;
}

body main section h2 {
    font-size: 3.2em;
    text-align: center;
}
                                        /* Homepage */
body.home header nav ul li:first-of-type a {
    background: #ff89d246;
    color: #fff;
}

body.home main section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

@media (max-width: 1400px) {
    body.home main section h2 {
        grid-row: 1/2;
        grid-column: 1/3;

        text-align: center;
        padding: .2em;
    }

    body.home main section img {
        grid-row: 2/3;
        grid-column: 1/2;

        display: flex;
        max-width: 400px;
        min-width: 400px;
        justify-content: start;
        padding: 2vw;
    }

    body.home main section:nth-of-type(odd) img {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    body.home main section p {
        padding: 1em;
        font-size: 1.5em;
    }
}

@media (min-width: 1400px) {
    body.home main section h2 {
        display: flex;
        padding: .2em;
        align-items: center;
        justify-content: center;
        font-size: 3.2em;
        text-align: center;
    }
        
    body.home main section img {
        grid-row: 1/3;
        grid-column: 2/3;
        
        display: flex;
        max-width: 700px;
        justify-content: start;
        padding: 2em;
    }

    body.home main section:nth-of-type(odd) img {
        grid-row: 1/3;
        grid-column: 1/2;
    }
        
    body.home main section p {
        padding: 1em;
        font-size: 2em;
    }
}

body.home section p a {
    text-decoration: none;
    border-radius: 1em;
    text-align: center;

    transition: background 500ms linear;
}

body.home section p a:link {
    color: #1dcaff;
}

body.home section p a:visited {
    color: #960096;
}

body.home section p a:hover {
    background: #ffca7a;
}

body.home section p a:active {
    color: red;
}
                                    /* What's a macaron page */
body.macaron header nav ul li:nth-of-type(2) a {
    background: #ff89d246;
    color: #fff;
}

@media (max-width: 1700px) {
    body.macaron main section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    body.macaron main section h2 {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    body.macaron main section p {
        margin: .3em 1em;
        font-size: 1.6em;
    }

    body.macaron main section:first-of-type p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.macaron main section:first-of-type p:nth-of-type(2) {
        grid-row: 3/4;
        grid-column: 1/2;

        display: flex;
        align-items: center;
    }

    body.macaron main section:first-of-type p:nth-of-type(3) {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    body.macaron main section:first-of-type img {
        padding: .5em;
        width: 45vw;
        max-width: 500px;

    }

    body.macaron main section:nth-of-type(2) p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(2) {
        grid-row: 3/4;
        grid-column: 2/3;

        display: flex;
        align-items: center;
        margin-right: 3em;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(3) {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(4) {
        grid-row: 5/6;
        grid-column: 1/2;

        display: flex;
        align-items: center;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(5) {
        grid-row: 6/7;
        grid-column: 2/3;
    }

    body.macaron main section:nth-of-type(2) img, body.macaron main section:nth-of-type(2) a {
        padding: .5em;
        max-width: 350px;
        display: flex;
        justify-self: center;
    }
}

@media (min-width: 1700px) {
    body.macaron main section {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    body.macaron main section p {
        font-size: 1.8em;
        margin: .5em 2em;
    }

    body.macaron main section:first-of-type img {
        padding: .5em;
        max-width: 600px;

    }

    body.macaron main section:nth-of-type(2) img {
        display: flex;
        padding: .5em;
        max-width: 600px;
        margin: 0 2em;
        justify-self: center;
    }

    body.macaron main section h2 {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    body.macaron main section:first-of-type p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    body.macaron main section:nth-of-type(2) p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.macaron main section:nth-of-type(2) a:first-of-type {
        grid-row: 2/4;
        grid-column: 3/4;
    }

    body.macaron main section:nth-of-type(2) a:nth-of-type(2) {
        grid-row: 3/5;
        grid-column: 1/2;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(3) {
        grid-row: 4/5;
        grid-column: 2/4;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(3) {
        grid-row: 4/5;
        grid-column: 2/4;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(4) {
        grid-row: 5/6;
        grid-column: 1/3;
    }

    body.macaron main section:nth-of-type(2) p:nth-of-type(5) {
        grid-row: 6/7;
        grid-column: 1/3;
    }

    body.macaron main section:nth-of-type(2) img {
        grid-row: 5/7;
        grid-column: 3/4;
    }
}
                                    /* My passion page */
body.passion header nav ul li:nth-of-type(3) a {
    background: #ff89d246;
    color: #fff;
}

body.passion main section p {
    margin: 0 .3em;
    display: flex;
    align-items: center;
}

@media (max-width: 1000px) {
    body.passion main section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    body.passion main section img {
        width: 45vw;
        max-width: 400px;
    } 

    body.passion main section h2 {
        grid-row: 1/2;
        grid-column: 1/3;

        margin-bottom: .2em;
    }

    body.passion main section:nth-of-type(odd) img {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    body.passion main section:last-of-type p:last-of-type {
        grid-row: 3/4;
        grid-column: 1/3;
        text-align: center;
    }
}
@media (min-width: 1000px) {
    body.passion main section {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    body.passion main section img {
        width: 33vw;
        max-width: 600px;
        padding: 1em 3em;
    }

    body.passion main section h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body.passion main section p {
        font-size: 1.7em;    
    }

    body.passion main section:nth-of-type(odd) img {
        grid-row: 1/3;
        grid-column: 3/4;
    }

    body.passion main section:nth-of-type(even) img {
        grid-row: 1/3;
        grid-column: 1/2;
    }

    body.passion main section:nth-of-type(odd) h2 {
        grid-row: 1/2;
        grid-column: 1/3;

        margin-bottom: .2em;
    }

    body.passion main section:nth-of-type(even) h2 {
        grid-row: 1/2;
        grid-column: 2/4;

        margin-bottom: .2em;
    }

    body.passion main section:nth-of-type(odd) p {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.passion main section:nth-of-type(even) p {
        grid-row: 2/3;
        grid-column: 2/4;
    }

    body.passion main section:last-of-type p:last-of-type {
        grid-row: 3/4;
        grid-column: 1/4;
        display: flex;
        justify-content: center;
        margin: 1em 0;
    }
}
                                    /* How it's made page */
body.baking header nav ul li:nth-of-type(4) a {
    background: #ff89d246;
    color: #fff;
}

@media (max-width: 1400px) {
    body.baking main section img {
        display: flex;
        margin: .5em;
    }
    body.baking main section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    body.baking main section h2 {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    body.baking main section p, body.baking main section ul {
        margin: .3em .5em;
    }

    body.baking main section:nth-of-type(2) p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.baking main section img {
        display: flex;
        justify-self: center;
        align-self: center;
        max-width: 400px;
    }

    body.baking main section:nth-of-type(3) h3 {
        text-decoration: underline;
        font-size: 2em;
        margin-top: 1em;
        text-align: center;
    }

    body.baking main section:nth-of-type(3) h3:first-of-type {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) h4 {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1.8em;
        margin: 2em;
        color: #705730;
    }

    body.baking main section ul {
        border: 1px solid black;
        border-radius: 1em;
        padding: .5em;
        list-style-type: none;
        margin: 1em 0;
        font-size: 1.2em;
        max-width: 60%;
        color: #705730;
    }

    body.baking main section:nth-of-type(3) p:first-of-type {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(2) {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(3) {
        grid-row: 6/7;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) h3:nth-of-type(2) {
        grid-row: 7/8;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) h4:nth-of-type(2) {
        grid-row: 8/9;
        grid-column: 1/2;
    }

    body.baking main section:nth-of-type(3) ul:nth-of-type(2) {
        grid-row: 8/9;
        grid-column: 2/3;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(4) {
        grid-row: 9/10;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(7) {
        grid-row: 12/13;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) h3:first-of-type {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1.8em;
        margin: 2em;
        color: #705730;
    }

    body.baking main section:nth-of-type(4) h4 {
        font-size: 2em;
        text-align: center;
        text-decoration: underline;
        margin-top: 1em;
    }

    body.baking main section:nth-of-type(4) h4:first-of-type {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:first-of-type {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(2) {
        grid-row: 5/6;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(3) {
        grid-row: 7/8;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(3) {
        grid-row: 9/10;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(6) {
        grid-row: 11/12;
        grid-column: 2/3;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(4) {
        grid-row: 12/13;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(8) {
        grid-row: 14/15;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(9) {
        grid-row: 15/16;
        grid-column: 2/3;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(5) {
        grid-row: 16/17;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(11) {
        grid-row: 18/19;
        grid-column: 2/3;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(6) {
        grid-row: 20/21;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(13) {
        grid-row: 21/22;
        grid-column: 2/3;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(7) {
        grid-row: 23/24;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(15) {
        grid-row: 24/25;
        grid-column: 1/3;
    }
}

@media (min-width: 1400px) {
    body.baking main section {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    body.baking main section p {
        display: flex;
        align-items: center;
        font-size: 1.6em;
        margin: .5em .8em;
    }

    body.baking main section img {
        display: flex;
        justify-self: center;
        align-self: center;
        width: 33vw;
        max-width: 600px;
    }

    body.baking main section h2 {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    body.baking main section:first-of-type p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.baking main section:first-of-type p:nth-of-type(2) {
        grid-row: 3/4;
        grid-column: 2/4;
    }

    body.baking main section:nth-of-type(2) p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(2) img {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    body.baking main section:nth-of-type(2) p:nth-of-type(2) {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(3) h3 {
        text-decoration: underline;
        margin: 1em 0;
    }

    body.baking main section ul {
        list-style-type: none;
        border: 2px solid #705730;
        border-radius: 1em;
        max-width: 60%;
        padding: .5em;
        font-size: 1.5em;
        color: #705730;
        margin: 1em 0;
    }

    body.baking main section:nth-of-type(3) h3:first-of-type {
        grid-row: 2/3;
        grid-column: 1/4;
        text-align: center;
    }

    body.baking main section:nth-of-type(3) h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #705730;
    }

    body.baking main section:nth-of-type(3) h4:first-of-type {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    body.baking main section:nth-of-type(3) ul:first-of-type {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    body.baking main section:nth-of-type(3) p:first-of-type {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) img:first-of-type {
        grid-row: 3/5;
        grid-column: 3/4;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(2) {
        grid-row: 5/6;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) h3:nth-of-type(2) {
        grid-row: 6/7;
        grid-column: 1/4;

        text-align: center;
    }

    body.baking main section:nth-of-type(3) img:nth-of-type(2) {
        grid-row: 7/9;
        grid-column: 3/4;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(4) {
        grid-row: 8/9;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(5) {
        grid-row: 9/10;
        grid-column: 2/4;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(6) {
        grid-row: 10/11;
        grid-column: 2/4;
    }

    body.baking main section:nth-of-type(3) img:nth-of-type(3) {
        grid-row: 9/11;
        grid-column: 1/2;
    }

    body.baking main section:nth-of-type(3) p:nth-of-type(7) {
        grid-row: 11/12;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) h4 {
        text-decoration: underline;
        text-align: center;
        margin: .5em 0;
    }

    body.baking main section:nth-of-type(4) h3 {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 1em;
    }

    body.baking main section:nth-of-type(4) h4:first-of-type {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:first-of-type {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) img:first-of-type {
        grid-row: 2/5;
        grid-column: 3/4;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(2) {
        grid-row: 5/6;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(2) {
        grid-row: 6/7;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) img:nth-of-type(2) {
        grid-row: 7/8;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(3) {
        grid-row: 6/8;
        grid-column: 3/4;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(3) {
        grid-row: 8/9;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(4) {
        grid-row: 9/10;
        grid-column: 2/4;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(5) {
        grid-row: 10/11;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(6) {
        grid-row: 11/12;
        grid-column: 2/4;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(4) {
        grid-row: 12/13;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(7) {
        grid-row: 13/14;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(8) {
        grid-row: 14/15;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) img:nth-of-type(6) {
        grid-row: 13/16;
        grid-column: 3/4;
    }

    body.baking main section:nth-of-type(4) img:nth-of-type(7) {
        grid-row: 15/16;
        grid-column: 1/2;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(5) {
        grid-row: 16/17;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(10) {
        grid-row: 17/18;
        grid-column: 1/3;
    }

    body.baking main section:nth-of-type(4) img:nth-of-type(9) {
        grid-row: 18/20;
        grid-column: 1/2;
    }

    body.baking main section:nth-of-type(4) img:nth-of-type(10) {
        grid-row: 18/20;
        grid-column: 3/4;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(6) {
        grid-row: 20/21;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) img:nth-of-type(11) {
        grid-row: 21/22;
        grid-column: 2/4;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(14) {
        grid-row: 22/23;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) h4:nth-of-type(7) {
        grid-row: 23/24;
        grid-column: 1/4;
    }

    body.baking main section:nth-of-type(4) p:nth-of-type(15) {
        grid-row: 24/25;
        grid-column: 2/4;
    }
}
                                    /* History page */
body.history header nav ul li:nth-of-type(5) a {
    background: #ff89d246;
    color: #fff;
}

@media (max-width: 1200px) {
    body.history main section div {
        display: flex;
        align-items: center;
    }

    body.history main section:nth-of-type(even) div {
        display: flex;
        flex-direction: row-reverse;
    }

    body.history main section p {
        margin: 0 1em;
    }

    body.history main section a, body.history main section img {
        max-width: 400px;
    }
}

@media (min-width: 1200px) {
    body.history main section div {
        display: flex;
        align-items: center;
    }
    
    body.history main section:nth-of-type(even) div {
        display: flex;
        flex-direction: row-reverse;
    }
    
    body.history main section p {
        margin: 0 1em;
        font-size: 1.7em;
    }
    
    body.history main section div a, body.history main section div img {
        max-width: 600px;
        margin: .5em 3em;
    }

    body.history main section:nth-of-type(3) div a, body.history main section:nth-of-type(3) div img {
        max-width: 500px;
        margin: .5em 3em;
    }
}
                                    /* author */
@media (max-width: 1200px) {                                   
    body.author main section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    body.author main section h2 {
        grid-row: 1/2;
        grid-column: 1/3;

        margin-bottom: .5em;
    }

    body.author main section img {
        grid-row: 2/4;
        grid-column: 2/3;

        max-width: 400px;
    }

    body.author main section p:nth-of-type(3) {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    body.author main section p {
        display: flex;
        align-items: center;
        margin: .4em 1em;
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    body.author main section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    body.author main section h2 {
        grid-row: 1/2;
        grid-column: 1/3;

        margin-bottom: .5em;
    }

    body.author main section img {
        grid-row: 2/5;
        grid-column: 2/3;

        display: flex;
        justify-self: center;
        max-width: 500px;
        margin-bottom: 1em;
    }

    body.author main section p {
        display: flex;
        align-items: center;
        margin-left: 5em;
        font-size: 1.7em;
    }
}
                                    /* sources */
body.sources main section h2 {
    margin: .5em 0;
}

body.sources main section h3 {
    text-align: center;
    font-size: 2em;
    margin: .5em 0;
}

body.sources main section p {
    text-align: center;
    margin: .5em 3em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

body.sources main section div {
    border: 2px solid #b38549;
    margin: 0 2em 2em 2em;
    border-radius: 1em;
}

body.sources main section:nth-of-type(2) div:nth-of-type(2) p:first-of-type {
    border-bottom: 2px solid #b38549;
}

body.sources main section:nth-of-type(3) div:nth-of-type(2) p:nth-of-type(1) {
    border-bottom: 2px solid #b38549;
}

body.sources main section:nth-of-type(3) div:nth-of-type(2) p:nth-of-type(2) {
    border-bottom: 2px solid #b38549;
}

body.sources main section:nth-of-type(3) div:nth-of-type(2) p:nth-of-type(3) {
    border-bottom: 2px solid #b38549;
}

body.sources main section:nth-of-type(3) div:nth-of-type(2) p:nth-of-type(5) {
    border-bottom: 2px solid #b38549;
}

body.sources main section div ul {
    margin: 1em;
    text-align: center;
    list-style-type: none;
    font-size: 1.5em;
}
                                    /* footer */
footer > a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .2vw;
    background: #c7c7c7;
    font-size: 1.5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    transition: all 1s linear;
}

footer > a:link {
    color: #000000;
}

footer > a:visited {
    color: #000000;
}

footer > a:hover {
    background: #000;
    color: #fff;
}

footer > a:active {
    color: red;
}

footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    background: #eaddca;
    padding: 1vw;
}

footer ul li a {
    display: block;
    padding: .3vw 1vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 1vw;
    text-decoration: underline;

    transition: all 500ms ease;
}

footer ul li a:link {
    color: #000000;
}

footer ul li a:visited {
    color: #000000;
}

footer ul li a:hover {
    background: #77e638;
    transform: scale(1.1);
    border: 2px solid #2b6808;
}

footer ul li a:active {
    color: #ff4646;
}

footer ul li {
    flex-basis: 30vw;
}

footer p {
    display: block;
    text-align: center;
    background: #c7c7c7;
    font-size: 1.3em;
    padding: 1vw 0;
}

/*
bronnen:
grid - youtube: Learn CSS Grid - A 13 Minute Deep Dive
https://www.youtube.com/watch?v=EiNiSFIPIQE&list=PLPGy5uQmbpAAWL8PLbSBFPFWpxXWsZ342&index=2
en met hulp van MDN

Flexbox - voornamelijk van flexbox froggy, daar ben ik best vaak doorheen gegaan

Selectoren - het meeste daarvan toch van CSS diner

En de meeste dingen heb ik nog van de lessen, al mijn code is zelf getyped, niets is gekopierd van andere stukken code
*/